apiVersion: apps/v1
kind: Deployment
metadata:
  name: voting-app-deployment
  labels:
    app: demo-voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
      component: voting
      app: demo-voting-app
  template:
    metadata:
      labels:
        component: voting
        app: demo-voting-app
    spec:
      containers:
        - name: voting-app
          image: bibekk477/voting-app:v1
          ports:
            - containerPort: 80
